/* https://dribbble.com/shots/1824088-GIF-for-the-Weather-App */

/* RESET STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
}

button::-moz-focus-inner {
  border: 0;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  overflow: visible;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
/* END RESET STYLES */

/* GLOBAL STYLES */
:root {
  --green: #8ba892;
  --yellow: #e3bb88;
  --orange: #db9864;
  --red: #b1695a;
  --dark-red: #644749;
}

.morning {
  background-color: var(--yellow);
}

.day {
  background-color: var(--orange);
}

.evening {
  background-color: var(--red);
}

.night {
  background-color: var(--dark-red);
}
/* END GLOBAL STYLES */

.app {
  width: 100%;
  height: 100%;
  background: var(--green);
  color: white;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 0 1.25rem;
}

.search-input {
  border: none;
  font-size: 18px;
  padding: 0.3em 0.5em 0.2em;
  margin: 0 0.5em;
}

.svg-inline--fa {
  opacity: 0.75;
}

.fa-location-dot {
  height: 2em;
}

.forecasts-list {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.forecasts-list li:has(div.focus) {
  flex: 1;
}

.forecast-container {
  display: flex;
  min-height: 15vh;
  height: 100%;
  padding: 1.5rem 1rem 0;
}

.forecast-container > * {
  width: 50%;
  
}

.forecast-container > *:first-child {
  display: flex;
  justify-content: center;
}

.forecast-container > * > svg {
  height: 4rem;
  margin: 0 auto;
}

.time {
  font-size: 1.25rem;
  letter-spacing: 0.5em;
  margin-bottom: 0.25rem;
  opacity: 0.7;
  text-transform: uppercase;
}

.temp {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.condition {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.details {
  font-size: 1.3rem;
}
